ion-thumbnail {
    
    width: 100%;
    height: 130px;
      
      }
    
      #soldOut {
    
        font-size: 40px;
      font-weight: 900;
      color: red;
      margin-top: -20px;
      margin-bottom: -5px;
      
        
          }
    
          #featured {
            --background: yellow;
          }
    
    
          #header_logo{
    
            width: 90%;
          
        
              }
    
              ion-grid{
                height: 100%; 
                text-align: center
                
            }
            ion-row{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-align: center
            }
         code {
      font-weight:bold;
          font-size: medium;
          color:black;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
          
          
            
              }
    
          #ben {
      
            font-size: 16px;
          font-weight: 500;
          color:goldenrod;
          margin-top: 20px;
          margin-bottom: 25px;
          
            
    
              }
    
              ion-item{
                font-size: 16px;
                font-weight: 600;
                color: #cf3c4f;
                ;
              }
              ion-thumbnail {
        
                width: 100%;
                height: 200px;
                  
                  }