<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col> <img id="header_logo" src="../../assets/aaca_logo.png" /></ion-col>
          <ion-col> Add an Event </ion-col>
          <ion-col><img id="header_logo" src="../../assets/kcam_logo.png" /></ion-col>
        </ion-row>
      </ion-grid>
        
          
        
    </ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title>Add Car Show or Event</ion-card-title>
      <ion-card-subtitle>You can fill out the form below or email acckcevents@gmail.com to submit your event. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    
    

  

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="carShowForm">
         
            <ion-item>
              <ion-label position="stacked">Dates *</ion-label>
              <p id="inputdetails">To avoid being placed at the bottom of the list, it's important to adhere to the proper date format for your event.</p>
              <ion-input formControlName="dates" type="text" placeholder="YYYY-MM-DD"></ion-input>
            </ion-item>
            
         
          
            <ion-item>
              <ion-label position="stacked">End Date</ion-label>
              <ion-input formControlName="endDate" type="text" placeholder="YYYY-MM-DD"></ion-input>
            </ion-item>

          <ion-item>
            <ion-label position="stacked">City, State *</ion-label>
            <ion-input formControlName="cityState" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Title *</ion-label>
            <ion-input formControlName="title" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Cost</ion-label>
            <ion-input formControlName="cost" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Web Address</ion-label>
            <ion-input formControlName="webaddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contact</ion-label>
            <ion-input formControlName="contact" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Prizes</ion-label>
            <ion-input formControlName="prizes" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Details *</ion-label>
            <ion-input formControlName="details" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Flyer</ion-label>
            <p id="inputdetails">You need to provide a link to a copy of the flyer hosted on your own website or a drive. Please ensure that the permissions are set to allow anyone to view it.</p>
            <ion-input formControlName="flyer" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Registration Link</ion-label>
            <ion-input formControlName="register" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Image URL</ion-label>
            <input type="file" (change)="onFileSelected($event)">
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Sold Out</ion-label>
            <p id="inputdetails">Check box if your event is sold out otherwise leave blank. </p>
            <ion-checkbox formControlName="soldOut"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Benefit</ion-label>
            <ion-input formControlName="benefit" type="text"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="addCarShow()">Add Car Show</ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

<ion-card>

    <ion-card-header>
      <ion-card-title>Bulk Upload </ion-card-title>
      <ion-card-subtitle>*Admin Only* Formatted CSV file & Password Required </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Contact creed.hammond@gmail.com for access. 
    
  
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Select CSV file to upload</ion-label>
      <input type="file" (change)="handleFileInput($event.target.files)">
    </ion-item>
  </ion-list>

  <div *ngIf="fileData">
    <p>Selected file: {{fileName}}</p>
    <ion-button (click)="uploadData()">Upload Data to Firebase</ion-button>
  </div>
</ion-card-content>
</ion-card>
</ion-content>

