
#inputdetails{
  font-size: small;
  margin-top: 10px;
      margin-bottom: 5px;
      color: #cf3c4f;

}

            #header_logo{

              width: 90%;
            
          
                }
      
                ion-grid{
                  height: 100%;
              }
              ion-row{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
              }

             
                      
          
